[submodule "core/third-party/skia"]
	path = core/third-party/skia
	url = git@github.com:nucleus-os/skia.git
	branch = nucleus-vulkan-render-pass-dependencies
[submodule "core/third-party/libxkbcommon"]
	path = core/third-party/libxkbcommon
	url = https://github.com/xkbcommon/libxkbcommon.git
[submodule "third-party/swift-system"]
	path = third-party/swift-system
	url = git@github.com:nucleus-os/swift-system.git
	branch = nucleus
[submodule "third-party/swift-java"]
	path = third-party/swift-java
	url = git@github.com:nucleus-os/swift-java.git
	branch = nucleus-cxx-interop
[submodule "third-party/swift-java-jni-core"]
	path = third-party/swift-java-jni-core
	url = git@github.com:nucleus-os/swift-java-jni-core.git
	branch = nucleus-cxx-interop
[submodule "react-native/third-party/hermes"]
	path = react-native/third-party/hermes
	url = https://github.com/facebook/hermes
[submodule "react-native/third-party/folly"]
	path = react-native/third-party/folly
	url = https://github.com/facebook/folly
[submodule "react-native/third-party/glog"]
	path = react-native/third-party/glog
	url = https://github.com/google/glog
[submodule "react-native/third-party/fmt"]
	path = react-native/third-party/fmt
	url = https://github.com/fmtlib/fmt
[submodule "react-native/third-party/fast_float"]
	path = react-native/third-party/fast_float
	url = https://github.com/fastfloat/fast_float
[submodule "react-native/third-party/react-native"]
	path = react-native/third-party/react-native
	url = https://github.com/facebook/react-native.git
[submodule "react-native/third-party/double-conversion"]
	path = react-native/third-party/double-conversion
	url = https://github.com/google/double-conversion
[submodule "swift-tracy/third-party/tracy"]
	path = swift-tracy/third-party/tracy
	url = https://github.com/nucleus-os/tracy.git
[submodule "third-party/swift-argument-parser"]
	path = third-party/swift-argument-parser
	url = https://github.com/apple/swift-argument-parser.git
[submodule "third-party/swift-subprocess"]
	path = third-party/swift-subprocess
	url = git@github.com:nucleus-os/swift-subprocess.git
	branch = nucleus-local-swift-system
[submodule "third-party/swift-crypto"]
	path = third-party/swift-crypto
	url = https://github.com/apple/swift-crypto.git
[submodule "third-party/swift-asn1"]
	path = third-party/swift-asn1
	url = https://github.com/apple/swift-asn1.git
[submodule "third-party/gfxstream"]
	path = third-party/gfxstream
	url = git@github.com:nucleus-os/platform_hardware_google_gfxstream.git
	branch = nucleus-android-17
[submodule "third-party/mesa"]
	path = third-party/mesa
	url = git@github.com:nucleus-os/platform_external_mesa3d.git
	branch = nucleus-android-17
[submodule "third-party/swift-syntax"]
	path = third-party/swift-syntax
	url = https://github.com/swiftlang/swift-syntax.git
[submodule "swift-toolchain/source/libxml2"]
	path = swift-toolchain/source/libxml2
	url = https://github.com/gnome/libxml2.git
[submodule "swift-toolchain/source/llvm-project"]
	path = swift-toolchain/source/llvm-project
	url = https://github.com/swiftlang/llvm-project.git
[submodule "swift-toolchain/source/swift"]
	path = swift-toolchain/source/swift
	url = git@github.com:nucleus-os/swift.git
[submodule "swift-toolchain/source/swift-collections"]
	path = swift-toolchain/source/swift-collections
	url = https://github.com/apple/swift-collections.git
[submodule "swift-toolchain/source/swift-corelibs-foundation"]
	path = swift-toolchain/source/swift-corelibs-foundation
	url = https://github.com/swiftlang/swift-corelibs-foundation.git
[submodule "swift-toolchain/source/swift-corelibs-libdispatch"]
	path = swift-toolchain/source/swift-corelibs-libdispatch
	url = https://github.com/swiftlang/swift-corelibs-libdispatch.git
[submodule "swift-toolchain/source/swift-corelibs-xctest"]
	path = swift-toolchain/source/swift-corelibs-xctest
	url = https://github.com/swiftlang/swift-corelibs-xctest.git
[submodule "swift-toolchain/source/swift-experimental-string-processing"]
	path = swift-toolchain/source/swift-experimental-string-processing
	url = https://github.com/swiftlang/swift-experimental-string-processing.git
[submodule "swift-toolchain/source/swift-foundation"]
	path = swift-toolchain/source/swift-foundation
	url = https://github.com/swiftlang/swift-foundation.git
[submodule "swift-toolchain/source/swift-foundation-icu"]
	path = swift-toolchain/source/swift-foundation-icu
	url = https://github.com/swiftlang/swift-foundation-icu.git
[submodule "swift-toolchain/source/swift-sdk-generator"]
	path = swift-toolchain/source/swift-sdk-generator
	url = git@github.com:nucleus-os/swift-sdk-generator.git
[submodule "swift-toolchain/source/swift-testing"]
	path = swift-toolchain/source/swift-testing
	url = https://github.com/swiftlang/swift-testing.git
