/.build/
/.install
/Tools/.build/
/.nucleus/
/.sourcekit-lsp/
/out/
/logs/
**/.build/
**/.rn-build/
**/.skia-build/
**/.cxx-build/
/swift-sdk/source/build/
**/.runtime-data/
**/__pycache__/
*.py[cod]
