/.build/
/.install
/Tools/.build/
/.nucleus/
/.sourcekit-lsp/
/collider/.nucleus/
/collider/.sourcekit-lsp/
/out/
/logs/
**/.build/
**/.rn-build/
**/.skia-build/
**/.cxx-build/
/swift-sdk/source/build/
**/.runtime-data/
collider/.swiftpm/configuration/mirrors.json
collider/engine/.swiftpm/configuration/mirrors.json
/collider/engine/Package.resolved
**/__pycache__/
*.py[cod]
